{% extends 'base.html' %}

{% block title %}Uredi objavo{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Tabla</a></li>
  <li class="breadcrumb-item"><a href="{% url 'IdejeNaTabli' post.ideja.tabla.pk %}">{{ post.ideja.tabla.name }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'PostiIdeje' post.ideja.tabla.pk post.ideja.pk %}">{{ post.ideja.subject }}</a></li>
  <li class="breadcrumb-item active">Uredi objavo</li>
{% endblock %}

{% block content %}
  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Shrani spremembo</button>
    <a href="{% url 'PostiIdeje' post.ideja.tabla.pk post.ideja.pk%}" class="btn btn-outline-secondary" role="button">Prekliči</a>
  </form>
{% endblock %}