{% extends 'base_accounts.html' %}

{% block title %}
  {% if validlink %}
    Spremeni geslo za {{ form.user.username }}
  {% else %}
    Resetiraj svoje geslo
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          {% if validlink %}
            <h3 class="card-title">Spremeni geslo za @{{ form.user.username }}</h3>
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-success btn-block">Spremeni geslo</button>
            </form>
          {% else %}
            <h3 class="card-title">Resetiraj svoje geslo</h3>
            <div class="alert alert-danger" role="alert">
              Izgleda, da si kliknil na nepravilen link za resetiranje gesla. Prosim poskusi ponovno!
            </div>
            <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">
              Zahtevaj novo možnost za resetiranje gesla.
              </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}