{% extends 'base_accounts.html' %}

{% block title %}Geslo spremenjeno!{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Geslo spremenjeno!</h3>
          <div class="alert alert-success" role="alert">
            Uspešno ste spremenili geslo, lahko se prijavite!
          </div>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Vrni se na prijavno stran</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}