Pozdravljeni,

Nekdo je prosil za ponastavitev gesla za e-poštni naslov {{ email }}.
Sledite spodnji povezavi:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

V primeru, da ste pozabili uporabniško ime: {{ user.username }}

Če klikanje zgornje povezave ne deluje, kopirajte in prilepite URL
namesto tega v novo okno brskalnika.

Če ste to sporočilo prejeli po pomoti, je verjetno, da je vnesel drug uporabnik
po e-pošti poizkusite ponastaviti geslo. Če niste
sprožite zahtevo, vam ni treba ukrepati in se lahko varno
ne upoštevajte tega e-poštnega sporočila.

Hvala,

Ekipa Vrholovec