{% extends 'base_accounts.html' %}

{% block title %}Resetiranje gesla{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Resetiranje gesla</h3>
          <p>
            Preveri svoj email za link, s katerim boš resetiral svoje geslo. Če se sporočilo v nekaj minutah ne pojavi, preveri spam mapo!
            </p>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Vrni se na prijavno stran</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}