{% extends 'base_accounts.html' %}

{% block title %}Resetiraj svoje geslo{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Resetiraj svoje geslo</h3>
          <p>Vnesi svoj mail in tja vam bomo poslali navodilo za obnovo gesla.</p>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">Pošlji</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}